<div>
    {% for patient in patients.items %}
    <div>
        <a href="{{ url_for('blueprint.patient', id=patient.id)}}">
            <b>{{ patient.id }}</b> | {{ patient.name }} | {{ patient.surname }}
        </a> |
        <a href="{{ url_for('blueprint.patient_edit', id=patient.id)}}">
            <b>Edit {{ patient.id }} </b>
        </a> |
        <a href="{{ url_for('blueprint.patient_delete', id=patient.id)}}">
            <b>Delete {{ patient.id }} </b>
        </a>

    </div>
    {% endfor %}
    <hr>


    <div>
        <a href="{{ url_for('blueprint.patients', page=patients.prev_num) }}"> &laquo;</a>

        </a>
        {% for page_num in patients.iter_pages(left_edge=0, right_edge=0, left_current=4, right_current=4) %}

        <a href="{{ url_for('blueprint.patients', page=page_num) }}">
            {{ page_num }}
        </a>


        {% endfor %}
        <a href="{{ url_for('blueprint.patients', page=patients.next_num) }}">

            &raquo;
        </a>
        <p>
            Showing page {{ patients.page }} of {{ patients.pages }}
        </p>
    </div>

    <hr>
    <a href="/patients/add">Add new patient</a><br />
    <a href="/">Back to /</a>
</div>